@using Microsoft.AspNet.Identity
@{var test = Session["user"];}
@if (Session["user"] != null)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            Hello @Session["name"]
            @Html.ActionLink("Hello " + Session["name"] + "!", "MainAccount", "Account", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
            @*@Html.ActionLink("Hello " + Session["name"] + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })*@
        </li>
        <li class="nav-item"><a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Se déconnecter</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("S'inscrire", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
        <li>@Html.ActionLink("Se connecter", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
    </ul>
}
